*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    /* border: 2px solid black; */
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

#head1{
    
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
}

.main_image_container{
    /* border: 2px solid black; */
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* height: 100px; */
}

.image_container{
    display: flex;
    /* border: 1px solid blue; */
    gap: 15px;
    position: relative;    
}

.images{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    filter: grayscale(100%);
}

.images:hover{
     transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #333);
}

.images:hover img {
  filter: grayscale(0%);
}

.images:hover p {
  opacity: 1;
  transform: scale(1.03);
}  

p{
    transition: 0.3s;
}

#para1{
    position: absolute;
    top: 230px;
}


#para2{
    position: absolute;
    left: 270px;
    top: 230px;
}

#para3{
    position: absolute;
    top: 230px;
    left: 540px;
}


#para4{
    position: absolute;
    top: 230px;
}


#para5{
    position: absolute;
    left: 270px;
    top: 230px;
}

#para6{
    position: absolute;
    top: 230px;
    left: 540px;
}

#para7{
    position: absolute;
    top: 230px;
}


#para8{
    position: absolute;
    left: 270px;
    top: 230px;
}

#para9{
    position: absolute;
    top: 230px;
    left: 540px;
}